# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build

# testing
/coverage

# misc
.DS_Store
*.pem
*.log
npm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# prisma
/prisma/*.db

# embedded postgres (testes)
/.pgdata-test
/.pgdata-smoke
